body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.result {
    font-size: 2em;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: right; 
}

.previousNumber {
    color: #777;
    font-size: 0.8em;
    margin-bottom: 5px;
}

.currentNumber {
    font-size: 1.2em;
}

button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.numbers {
    background-color: #f0f0f0;
}

.signs ,.equal,.C,.decimal,.Delete {
    background-color: #f5a623;
    color: #fff;
}
.decimal{
    display: inline;
    padding: 10px 20px;
}

button:hover {
    background-color: #d4d4d4;
}

button:active {
    background-color: #b8b8b8;
}
